.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #143656;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.container {
  background-color: #0009;
  border-radius: 0.4rem;
  color: #fff;
  padding: 1rem;
}