.btn-back {
    align-items: center;
    background-color: #72c7ee;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 2rem;
    transition: all 0.3s;
    width: 40px;
    svg {
        zoom: 1.2;
    }
}

.btn-back:hover {
    background: #fff;
    transform: translateY(-4px);
}