.menu {
  padding: 1rem;
}

.menu-subtitle {
  text-align: center;
  color: #143656;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.menu-card {
  background: #0009;
  border-radius: 0.6rem;
  padding: 1rem;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-emoji {
  font-size: 3em;
  margin-bottom: 10px;
}

.menu-card h3 {
  color: #fff;
  margin-bottom: 10px;
}

.menu-card p {
  font-size: 0.9em;
  margin-bottom: 15px;
  color: #72c7ee;
}