/*fotns------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Body------------------*/
body {
    font-family: Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* Main------------------*/
    main {
        &::-webkit-scrollbar {
            display: none;
        }

        background-color: #5DC8C8;
        border-radius: 5px;
        position: relative;
        overflow: auto;
        height: 530px;
        width: 247px;

        /*h2------------------*/
        h2 {
            color: #ffffff;
            font-weight: 700;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            gap: -1px;
        }

        /* Header------------------*/
        header {
            background-color: #09637E;
            position: fixed;
            height: 50px;
            width: 247px;
            border-radius: 5px 5px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

            a:link,
            a:visited {

                display: flex;
                position: absolute;
                left: 0.4rem;
            }

            a:hover {
                transform: scale(1.025);
            }
        }

        /* Login------------------*/
        &#login {
            background: url(../imgs/bg-login.png) no-repeat center;
            background-size: cover;

            /*form*/
            form {
                padding: 0 0.6rem;
                color: #fbff03;
                position: absolute;
                padding-top: 20rem;
                display: flex;
                bottom: 1.5rem;
                flex-direction: column;
                gap: 1rem;

                label {
                    display: flex;
                    flex-direction: column;

                    input {
                        opacity: 0.8;
                        height: 27px;
                        width: 218px;
                        border: none;
                        border-radius: 5px;
                        text-indent: 0.4rem;
                        outline: none;

                        &::placeholder {
                            color: #545353b4;

                        }
                    }
                }

                button {
                    background-color: #74EA56;
                    color: white;
                    height: 30px;
                    width: 218px;
                    border: none;
                    border-radius: 5px;
                    transition: transform 0.3s ease;
                    /* cursor */
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        transform: scale(1.05);
                    }

                }

                button svg {
                    width: 24px;
                    height: 24px;
                    fill: #fff;
                    margin-right: 8px;
                }
            }


        }

        /* Dashboard------------------*/
        &#dashboard {
            nav {
                padding-top: 4rem;
                display: flex;
                justify-content: space-around;

                a:link,
                a:visited {
                    background-color: #09637E;
                    color: #ffffff;
                    width: 100px;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    text-decoration: none;
                    text-align: -9999px;
                    transition: transform 0.2s ease-in;

                    &.btnAdd {
                        background-color: #27c14b;
                    }

                    &.btnLogout {
                        background-color: #b71b19;
                    }

                    &:hover {
                        transform: scale(1.025);
                    }

                }
            }

            section.list {
                flex-direction: column;
                gap: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                div.row {
                    &:nth-child(even) {
                        color: rgb(255, 255, 255);
                        background-color: rgba(110, 161, 177, 0.84) !important;
                    }

                    background-color: #e7dfdf;
                    border-radius: 5px;
                    align-items: center;
                    display: flex;
                    padding: 0.2rem;
                    width: 220px;
                    height: 31px;
                    gap: 0.5rem;

                    /* Asegura que la imagen, data y acciones estén alineados horizontalmente */
                    img {
                        flex-shrink: 0;
                        width: 30px;
                        height: 30px;
                    }

                    .data {
                        flex: 1 1 auto;
                    }

                    nav.actions {
                        margin-left: auto;
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;
                        justify-content: flex-end;
                    }

                    div.data {
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                        justify-content: center;

                        h3 {
                            font-size: 10px;
                            font-weight: 500;
                            margin: 0;
                        }

                        h4 {
                            font-size: 10px;
                            font-weight: 500;
                            margin: 0;
                        }
                    }

                    nav.actions {
                        gap: 0.2rem;
                        padding-top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;


                        a:link,
                        a:visited {
                            height: 20px;
                            width: 20px;

                            &.btnShow {
                                background: url(../imgs/Search\ Button.svg) no-repeat center;
                            }

                            &.btnEdit {
                                background: url(../imgs/Edit\ Button.svg) no-repeat center;
                            }

                            &.btnDelete {
                                background: url(../imgs/Delete\ Button.svg) no-repeat center;
                            }
                        }
                    }
                }
            }

        }

        /* Show------------------*/
        &#show {
            display: flex;
            flex-direction: column;
            align-items: center;

            .data {
                padding-top: 4rem;
                width: 220px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                .pet-img {
                    width: 140px;
                    height: 140px;
                    border-radius: 6px;
                    border: 3px solid #ffffff;
                    object-fit: cover;
                }

                .info-row {
                    width: 100%;
                    display: flex;
                    margin-left: 12px;
                    justify-content: space-between;
                    border-bottom: 1px solid #d8e6ea;
                    padding: 0.2rem 0;

                    span {
                        font-weight: 500;
                    }

                    p {
                        margin: 0;
                        font-size: 12px;
                    }
                }

                .desc-title {
                    margin-top: 0.6rem;
                    font-weight: 500;
                }

                .description {
                    font-size: 11px;
                    text-align: center;
                    line-height: 1.3;
                }
            }
        }

        &#add,
        &#edit {

            /* form */
            form {
                padding: 0 0.6rem;
                color: #ffffff;
                font-size: 13px;
                margin-top: 4.4rem;
                display: flex;
                gap: 0.7rem;
                flex-direction: column;

                input,
                textarea {
                    border: 2px solid #6095ae;
                    color: #6095ae;
                    font-family: inter;
                    border-radius: 5px;
                    height: 30px;
                    width: 210px;
                    outline: none;
                    text-indent: 0.4rem;

                    &::placeholder {
                        color: #6095ae;
                    }
                }

                textarea {
                    height: 70px;
                    text-indent: 0;
                }
                
                div.actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 218px;

                    button,
                    a:link,
                    a:visited {
                        background: #1EE048;
                        border: 1px solid #1EE048;
                        border-radius: 4px;
                        font-family: poppins;
                        cursor: pointer;
                        color: #fff;
                        width: 104px;
                        height: 34px;
                        transition: transform 0.2s ease, background 0.2s ease;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0.5rem;
                        margin-top: 0.5rem;

                        &:hover {
                            background: #1EE048;
                            transform: scale(1.02);
                        }
                    }

                    /* Contenedor de botones Add y Cancel */
                    .form-actions {
                        display: flex;
                        gap: 1rem;
                        justify-content: center;
                        margin-top: 1.2rem;
                        margin-bottom: 1.2rem;
                    }

                    a.link,
                    a:visited {
                        background-color: #b71b19;
                        border: 2px solid #b71b19;
                        text-decoration: none;

                    }
                }

                label {
                    display: flex;
                    flex-direction: column;

                    input {
                        opacity: 0.8;
                        height: 27px;
                        width: 218px;
                        border: none;
                        border-radius: 5px;
                        text-indent: 0.4rem;
                        outline: none;

                        &::placeholder {
                            color: #b4b2b2b4;

                        }
                    }
                }

            }
        }
    }
}

main.animateView {
    animation: AnimateView 0.4s ease-in 1;
}

@keyframes AnimateView {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
}

/* Botón Cancel rojo */
a.btnCancel {
    background: #e53935 !important;
    border: 1px solid #e53935 !important;
    color: #fff !important;
}
a.btnCancel:hover {
    background: #b71c1c !important;
    border: 1px solid #b71c1c !important;
}